:root{
  --background:    #FFFFF7;
  --top:           #444444;
  --title:         #444444;
  --links:         #4A6A91;
  --linksVisited:  #4A6A91;
  --linksHover:    #4A6A91;
  --hfBars:        #444444;
}

@font-face {
font-family: Nord;
src: url("/css/fonts/Nord Regular.otf") format("opentype");
}

@font-face {
font-family: NordMedium;
src: url("/css/fonts/Nord Medium.otf") format("opentype");
}

@font-face {
font-family: NordLight;
src: url("/css/fonts/Nord Light.otf") format("opentype");
}

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; color: #111; background-color: var(--background); -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Links */
a { color: var(--links); text-decoration: none; font-family: courier; }
a:visited { color: var(--linksVisited); }
a:hover { color: var(--linksHover); text-decoration: underline; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Home */
.home-wrapper { max-width: -webkit-calc(400px - (30px * 2)); max-width: calc(400px - (30px * 2)); padding-right: 52px; display: inline-block; vertical-align: top; }
.about { float: left; font-family: courier; line-height: 200%; }

/** Img */
.cover-photo {
    height: auto;
    width: auto;
    max-width: 280px;
    max-height: 280px;
}

/** Clearfix */
.wrapper:after, .footer-col-wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.icon > svg { display: inline-block; vertical-align: middle; }
.icon > svg path { fill: #828282; }

/** Site header */
.site-header { border-top: 3px solid var(--top); border-bottom: 1px solid var(--hfBars); min-height: 60px; position: relative; }
.site-title { font-family: NordMedium; font-size: 42px; font-weight: 200; line-height: 56px; letter-spacing: -1px; margin-top: 10px; margin-bottom: 10px; float: left; }
.site-title, .site-title:visited { color: var(--title); }
.nav { float: right; padding-right: 30px; padding-top: 10px; }
.nav-link { padding-left: 20px; }

/** Site footer */
.site-footer { border-top: 1px solid; border-color: var(--hfBars); padding: 30px 0; }
.spacer { padding-left: 60px; }
#contact-refs { margin: auto; }

/** Page content */
.page-content { padding: 30px 0; }
.page-heading { font-size: 20px; }

.post-list { margin-left: 0; list-style: none; }
.post-list > li { margin-bottom: 30px; }
.post-meta { font-size: 14px; color: #828282; }
.post-link { display: block; font-size: 16px; }

/** Post */

.post-title { font-family: Nord; color: var(--title); font-size: 42px; letter-spacing: -1px; line-height: 1; }
@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

/** Gist */
div[itemprop="articleBody"] h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, p { font-family: courier; }
